.logo {
    height: 75px;
    max-width: 100%;
    width: 200px;
    position: relative;
    top: -20px;
    left: 900px;
    z-index: 1;
    /*margin-bottom: -75px;*/
    /*float:right;*/
    /*width:30px;*/
    /*height:30px;*/
    /*position:relative;*/
    /*!*left: 50px;*!*/
    /*right: 250px;*/
    /*top:-25px;*/
    /*z-index:1;*/
}