body {
    margin-left: 20px;
    margin-right: 15px;
}

.intro{
    position: relative;
    z-index: 1;
    padding: 10px;
    width: 90%;
    margin-top: 10px;
}

.blurb {
    text-align: center;
    color: #fff;
}

.pap {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    height: 100%;
}

.ptagsha {
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 15px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: 100px;
}